<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <attlaz>
            <api>
                <endpoint>https://api.attlaz.com</endpoint>
                <client_id backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <client_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </api>
            <logging>
                <minloglevel>200</minloglevel>
            </logging>
        </attlaz>
    </default>
</config>
